<div class="container">
<div *ngFor='let quote of quotes;let i = index'></div>
    <h1>{{ quote.quote }}</h1> 
    <p>{{ qoute.name }}</p>        
    <div class="row">
            <div class="col-md-6">
     
            <h3 appHighlightQuote>{{quote.quote}} 
        <button (click)='displayQuoteDetails'(i) class="btn btn-info btn-sm" id="quotes-buttons">Show Details</button>
          </h3>
             <app-quote-details *ngIf='quote.displayQuoteDetails'></app-quote-details>   

            <div>
           
          </div>
        </div>
        <div>
         
    </div>
     </div>
      <app-quote-form></app-quote-form>

    </div>
</div>

