<div class="container">
    <div class="row">
            <div class="col-md-6">
         <div *ngFor='let quote of quotes;let i = index'>
              <h1>{{quote.quote}}
              </h1>
              <button (click)='quoteDetails(i)'>Quote Details</button>
            <app-quote-details *ngIf='quote.showQuoteDetails' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-details>
          
                      

            <div>
           
          </div>
        </div>
        <div>
    </div>
     </div>
      <app-quote-form></app-quote-form>

    </div>
</div>

