<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">

     <div class="form-group">
            <label for="complete">author</label>
            <input type='text' class="form-control" id="quote">
  
        </div> 
        </div>
        
        <div class="form-group">
  
            <label for="description">quote</label>
            <textarea class="form-control" id="description" rows="4" required></textarea>
  
        </div>
        
    </form>